<div class="projects">
    <div class="container1">
        <% var count = count %>
        <% cont.forEach((item)=>{ %>
        <div class="cards">
            <div class="imge">
                <img src="/assets/<%=image%>/<%=item.image%>.svg"/>
            </div>
            <div class="content">
                <h2><%= item.content %></h2>
                <button data-modal-target="#modal1<%=item.id%>">Edit</button>
                <button class="deletebtn">Delete</button>
                <div class="modal" id="modal1<%=item.id%>">
                    <div class="modal-header">
                        <div class="title">
                            Choose the file:
                        </div>
                        <button data-close-button class="close-button">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="<%= title %><%=item.id%>" action="/api/<%= title %>/<%=item.id%>" method="POST" enctype="multipart/form-data">
                            <label for="content"><h2>Enter the content:</h2></label>
                            <input type="text" name="content">
                            <input type="file" name="image">
                            <button class="<%= title %><%=item.id%><%=item.id%>" form="<%= title %><%=item.id%>" type="submit">SEND</button>
                        </form>
                    </div>
                </div>
                <div id="overlay">
            
                </div>
            </div>
        </div>
        <% }) %>
        
    </div>
</div>
<script>
    var cards = document.getElementsByClassName('imge');
    var butto = document.getElementsByClassName('deletebtn');
    console.log(cards);
     var count = '<%-count %>'
     var detail = '<%-detail%>'
     console.log(count,'maha');
     var detailid = '<%-detailid%>'
     const detaillid = detailid.split(',')
     console.log(detaillid)
     for(let j=0;j<count;j++){ 
         console.log(j,count,detaillid[j],'devan');
         let loca = `http://localhost:5000/${detail}/${j+1}`;
        cards[j].addEventListener('click',function(){
            window.location= loca;
            console.log(j,'count');
        })
        var dele = '<%- delet%>'
        
        butto[j].addEventListener('click',()=>{
         console.log(j,count,detaillid[j],'de');  
            window.location= `http://localhost:5000/api/${dele}/${detaillid[j]}`;
        })
     }

</script>