<h1>title1</h1>
<% var count = count %>
<% for(var i=1;i<=count;i++){ %>
<div class="container" id="<%= title %><%=i%><%=i%><%=i%>">
    <div class="content">
        <h2><%= details[i-1].content %></h2>
    </div>
    <div class="imge">
        <img src="/assets/<%=image%>/images<%=id%>/image<%=i%>.svg" alt="">
    </div>
</div>
<div class="action">
    <button data-modal-target="#modal<%=i%>">Edit</button>
    <div class="modal" id="modal<%=i%>">
        <div class="modal-header">
            <div class="title">
                Choose the file:
            </div>
            <button data-close-button class="close-button">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <form id="<%= title %><%=i%>" action="/api/<%= title %>/<%=id%>/<%=i%>" method="POST" enctype="multipart/form-data">
                <label for="content"><h2>Enter the content:</h2></label>
                <input type="text" name="content">
                <input type="file" name="image">
                <button class="<%= title %><%=i%><%=i%>" form="<%= title %><%=i%>" type="submit">SEND</button>
            </form>
        </div>
    </div>
    <div id="overlay">

    </div>
</div>
<% } %>