<div class="projects">
    <div class="container1">
        <% var count = count %>
        <% contt.forEach((item)=>{ %>
        <div class="cards">
            <div class="imge">
                <img src="/assets/<%=image%>/<%=item.image%>.svg"/>
            </div>
            <div class="content">
                <h2><%= item.content %></h2>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<script>
    var cards = document.getElementsByClassName('imge');
    console.log(cards);
     var count = '<%-count %>'
     var detail = '<%-detail%>'
     console.log(count,'maha');
     var detailid = '<%-detailid%>'
     const detaillid = detailid.split(',')
     console.log(detaillid)
     for(let j=0;j<count;j++){ 
         console.log(j,count,detaillid[j],'devan');
         let loca = `https://mahadevan.herokuapp.com/${detail}/${j+1}`;
        cards[j].addEventListener('click',function(){
            window.location= loca;
            console.log(j,'count');
        })
     }

</script>
